<!DOCTYPE html>
<html>
<head>
  <title>Enterprise8</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div calss="container">
  <ul class="nav nav-tabs">
   <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About Us", home_about_path %></li>
   <li><%= link_to "Features", home_features_path %></li>
   <li><%= link_to "Help", home_help_path %></li>
    <li><%= link_to "Info", home_info_path %></li>
    <li><%= link_to "Pricing", home_pricing_path %></li>
    <li><%= link_to "Invoices", invoices_path %></li>
    <li><%= link_to "Login", root_path %></li>
  </ul>
<%= yield %>
</div>
</body>
</html>
